*{
	margin: 0px;
	padding: 0px;
}

header,footer,aside,nav,main,section{
	display:block;
}
@media (min-width:591px) {
header{
	position:relative;
	background-color: #f7931e;
	height: 154px;
}
body {
	background:url("../images/gradient.jpg") repeat-x;
background-color: #ffffff;
}
footer {
	background-color:#ffffff;
	position:fixed;
	z-index:1;
	bottom:0;
	float:left;
	margin:31px 0px 0px 26px;/*2.663934%*/
	width:950px;/*97.336066%*/
	height:91px;
	padding-top:29px;
	border-top:1px solid #cdcdcd;
}
a{
	text-decoration:none;
}

@font-face {
	font-family: DDD;
	src: url(contl.ttf);
	font-style: normal;
 	font-weight: normal;
}
@font-face {
	font-family: AAA;
	src: url(AliquamREG.ttf);
	font-style: normal;
 	font-weight: normal;
}
#wrapper {
	width:976px;/*69.664525%*/
	margin: 0 auto;
	background-color: #ffffff;
}
#continuum_font {
	position:absolute;
	font-family: DDD,Arial,Verdana;
	font-size: 41px;
	top:90.3px;
	left:354px;/*38.44444%*/
	color:#ffffff;
	border-top: 1px solid #fbc98e;
}
#continuum_font_m {
	position:absolute;
	font-family: DDD,Arial,Verdana;
	font-size: 41px;
	left:323px; /*36.5%*/
	top:90.5px;
	color:#ffffff;
}
#big_t {
	color:#FFFFFF;
	position: absolute;
	font-family: Arial;
	font-size: 26px;
	top: 62px;
	left: 13px;
}
#the_maccabi {
	color:#FFFFFF;
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	left: 28px;
	top: 74px;
}
#rest_sentence {
	line-height:16px;
	color:#FFFFFF;
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	left: 13px;
	top:89px;
	padding-right: 19px;
}
#join_us_h{
	padding-bottom:22px;
	font:17px arial;
	font-weight:bold;
	color:#000000;
}
#join_us_form input	,#join_us_form>select{
	width:200px;
	border:none;
	outline:none;
	padding:0 0 8px 4px;
	color:#1a1a1a;
	font:12px arial;
}
#last_p{
	font:22px arial;
	padding-right: 
}
select{
	padding-left:0!important;
	width:auto!important;
}	

#join_us_form>input[type=submit]{
	width:auto;
	position:absolute;
	cursor: pointer;
	background:none;
	right:0;
	bottom:0;
	color:#f7931e;
	padding:0;
	font:12px bold arial; 
	border-bottom:1px solid #fde4c7;
}
#registration_section{
	position:absolute;
	margin-top:33px;
	top:0%;
	right:0%;
	width:204px;/*27.27419355%*/
	height:651px;
}
#registretion{
	position:relative;
	height:167px;
}
#join_us_form>p{
	position:absolute;
	right:0;
	color:#f7931e;
}
#garden_pic{
	margin-top:19px;
	background-image:url("../images/gardens.jpg");
	height:122px;
}
#mbf_core_h{
	background-color:#b3b3b3;
	color:#ffffff;
	font:18px arial;
	padding-left:14px;
}
#people{
	background:url("../images/gray_pattern.jpg");
	height:372px;
	margin-top:32px;
}

#left_menu {
	width:175px;
	margin:0 31px 0 26px;/*0% 3.17623% 0% 2.663934%*/
	float:left;
	background-color: #FFFFFF;
}
#main_section{
	position:relative;
	float:left;
	width:744px;/*76.229508%*/
	min-height:1559px;
}
#youtube_video{
	content:url("../images/video.jpg"); 
}
#video{
	margin-top:33px;
	height:385px;
}
#wellcome_section{
	width:517px;/*69.489247%*/
	height:651px;		
}
#story_2011_prim{
	width:277px;/*53.578337%*/
	height:266px;
	background-color:#ffffff; 
}
#story_2011_sideway{
	margin-top:41px;
	width:204px;
	height:264px;
	background-color:#ffffff; 
}

#cliff_image{
	position:absolute;
	left:277px;
	top:418px;
	background:url("../images/cliff.jpg");
width:240px;/*43.79562%*/
	height:266px;
}
#sentence2012,.sentence2011{
	width:514px;
	padding:7px 0px 7px 0px;	
	border-top:1px solid #cccccc;
	font: 17px arial;
	color:#333333;
}

#story_2011_sideway > .sentence2011{
	width:100%;
}
#about_us {
	background-color: #054e7f;
	color:#FFFFFF;
	font-family: Arial;
	font-size: 18px;
	padding: 10px 0px 9px 19px;
	margin: 32px 0px 33px 0px;
	font-weight: normal;
}
#we_believe {
	line-height:160%;
	width: 742px;
	height: 283px;
	color:#4D4D4D;
	font-size: 13px;
	font-family: Arial;
	padding-top: 38px;
	border-top: 1px solid #4D4D4D;
}
#business {
	background:url("../images/mbf_logo.jpg") no-repeat;
	width:175px;
	height: 270px;
	background-color: #054e7f;
	position: relative;
	margin-bottom:32px;
}


#big_read_more {
	position: absolute;
	font-family: Arial;
	font-size: 15px;
	left: 13px;	
	bottom: 7px;
}
#big_read_more a {
	color:#ffffff;
}
#left_nav {
	width: 174px;
	height: 75px;
	background-color: #FFFFFF;
	padding-bottom: 34px;
}

#map {
	background:url("../images/map.jpg") no-repeat;
	width:175px;
	height: 670px;
	background-color: #054e7f;
	position: relative;
	padding-top: 8px;
}
#find_us ,#new_event{
	position:absolute;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color:#FFFFFF;
	bottom:337px;
	left: 14px;
}
#new_event{
	top: 70px;
	left: 12px;
}
#country1,#country2,#country3,#country4,#country5,#country6,#country7,#country8 {
	position:absolute;
	font-family: Arial;
	font-size: 12px;
	background: url("../images/arrow.jpg") no-repeat;
	top:364px;
	left: 10px;
}
#country2 {
	top:382px;
}
#country3 {
	top:402px;
}
#country4 {
	top: 422px;
}
#country5 {
	top: 441px;
}
#country6 {
	top: 459px;
}
#country7 {
	top: 477px;
}
#country8 {
	top: 496px;
}
#country1 a,#country2 a,#country3 a,#country4 a,#country5 a,#country6 a,#country7 a,#country8 a {
	color:#FFFFFF;
	padding-left: 32px;
}
#event_info {
	width: 175px;
	height: 93px;
	background: url("../images/info_icon.jpg") no-repeat;
	background-color: #054e7f;
	position: relative;
}

#azrieli {
	background: url("../images/azrieli.jpg");
	width:175px;
	height: 229px;
}

#maccabi_logo{
	position:absolute;
	content: url("../images/maccabi_logo.png");
left:256px; /*32.334047%*/
top:25px;/*16.23%*/	
}
#mbf {
	position: absolute;
	content: url("../images/m.b.f.jpg");
left:584px;/*53%*/
	top:34px;
}

#search_nav{
	height: 45px;
	position:relative;
}
#search_nav > a {
	color:#ffffff;
}
#month{
	font:12px arial;
	color: #054e7f;
	position: absolute;
	left:49px;
	bottom: 5px;
}
#searchbox {
	position:absolute;
	padding-left:10px; /*1.02459%*/
margin-left:2px;/*0.204918%*/
left:26px; /*2.663934%*/
	font-family: Arial;
	font-size: 12px;
	color:#ffffff;
	background-color: #054e7f;
	height:23px;
	border:none;
}
#month > a {
	color:#054e7f;
	font:14px arial;
}
#searchbutton {
	position: absolute;
	left:17%; /*98px*/
}
#calender {
	content: url("../images/calendar.jpg");
}
#date {
	position:absolute;
	font-family: Arial;
	font-size: 13px;
	color: #f7931e;
	top:6px;
	right: 228px;
}
#nav_button_sign, #nav_button_news, #nav_button_maccabiah{
	color:#FFFFFF;
	border:none;
	position:absolute;
	font-size: 12px;
	font-family: Arial;
	padding: 6px;
	background-color: #f7931e;
	right:154px;
}
#nav_button_news {
	right:79px;
}
#nav_button_maccabiah {
	right:1px;
}
#forum {
	position:relative;
	float: left;
	background-color:#054e7f;
	width: 175px;
	height: 91px;
	
}
#forum_icon {
		position: absolute;
		content: url("../images/forum_icon.jpg");
		top: 24px;
		left: 54px;
}
#forum_text {
	position: absolute;
	color:#FFFFFF;
	top: 24px;
	left: 73px;
}
#flags {
	position:relative;
	float:left;
	width: 775px;
	height: 64px;
}
#holland,#usa,#israel,#spain{
	position:absolute;
	width:46px;
	height:30px;
}
#holland {
	left:270px;
	background: url("../images/holland.jpg") no-repeat;	
}
#usa {
	left: 331px;
	background: url("../images/usa.jpg") no-repeat;
}
#israel {
	left: 392px;
	background: url("../images/israel.jpg") no-repeat;
}
#spain {
	left: 453px;
	background: url("../images/spain.jpg") no-repeat;
}
#article_whith_pic1,#article_whith_pic2{
	height:145px;
	width:737px;
	margin-top:33px;
	padding-left:7px;
	border-bottom:1px solid #d3d3d3;
	background:url("../images/gardens2.jpg") no-repeat right top;
	  
}
#article_whith_pic2{
	height:159px;
	margin-top:16px;
background:url("../images/sea.jpg") no-repeat right top;
	border:none;
}
.sentence2011{
	line-height:30px;
	width:247px;
	font:21px arial;
}
.country_name {
	text-align:center;
	font-family: Arial;
	font-size: 14px;
	color: #4d4d4d;
	padding-top: 39px;
}

.person,.person_more_space{
	display:inline-block;
	position:relative;
	margin-top:18px;
	margin-left:14px;
	width:339px;
	height:82px;
}
.person_more_space{
	margin-top:31px
}
.person_name{
	font-weight: bold;
	color:#ffffff;
	padding-bottom: 6px;
}
.about_the_person{
	position:absolute;
	left:83px;
	top:0;
	color:#e6e6e6;
	font:12px arial;
}

#low_nav {
	background-color: #054e7f;
	width: 692px;
	height: 27px;
	position: absolute;
	bottom: 0px;
	left: 175px;
	padding-left: 83px;
}

#low_menu li a {
	color: #FFFFFF;
	font-family: AAA,Arial,Verdana;
	font-size: 14px;
	background-color: #054e7f;
	border: none;
	padding-right:20px;
	color:#FFFFFF;
}
#low_nav li {
	display:inline;
}
#low_nav ul {
	position:relative;
	list-style-type:none;
	top:4px;	
}
.sentence2011{
	padding:13px 0 0 0;
	font: 20px arial;
}
.tafnit_project{
	color:#333333;
	font:21px arial;
}


.paragraph_2011_story{
	color:#4d4d4d;	
	font: 14px arial;
	line-height:150%;
	padding-top:23px;
}
.read_more{
	display:block;
	border-bottom:1px solid #aeaeae;
	font:11px arial;
	margin-top:6px;
	color:#ffffff; 
}


.article_whith_pic_content{
	margin-top:17px;
	padding-left:3px;
	font:14px arial;
	color:#4d4d4d; 
}
#left_nav_buttons li a {
	display:block;
	font-family: Arial;
	font-size: 15px;
	background-color: #054e7f;
	margin-bottom: 2px;
	color:#FFFFFF;
	padding-left:15px;
	
}
.left_nav_buttons a {
	
}
.clear{
	clear:both;
}
#search_nav ul {
	list-style-type:none;
}
#left_nav ul {
	list-style-type:none;
}
#map ul {
	list-style-type:none;
}


#fees{ 
	padding-left:4px;
	color:#4d4d4d;
	font:11px arial;
}
@media (max-width:590px) {
	#left_menu {
		display: none;
	}
}